<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/closebrackets.min.js"></script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.26.4/full/pyodide.js"></script>
<script src="{{ url_for('static', filename='runner.js') }}"></script>
<script src="{{ url_for('static', filename='textsize.js') }}"></script>
<script src="{{ url_for('static', filename='confetti.js') }}"></script>
<script src="{{ url_for('static', filename='yjs-bundle.js') }}"></script>
<script src="{{ url_for('static', filename='collab.js') }}"></script>
<script src="{{ url_for('static', filename='workspace.js') }}"></script>
